* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 0 auto;
    text-align: center;
    overflow-x: hidden;

    display: grid;
    grid-template-columns: 35px 1fr 1fr 1fr 35px;
    grid-template-rows: 70px repeat(4, 1fr);
}

.heading {
    grid-column: 1/6;
    grid-row: 1/2;
}

h1 {
    margin-top: 0.25em;
    font-size: 1.5rem;
    color: wheat;
}

p {
    margin-top: 0.25em;
    color: wheat;
    font-size: 1rem;
}

.video-tally {
    font-size: 0.75rem;
}

.videoPlayback {
    min-height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: 2/5; 
    grid-row: 2/6; 
}

.goBack {

    transform: scale(-1,-1);
    grid-column: 1/2;
    grid-row: 2/6;
}

.goForward {

    grid-column: 5/6;
    grid-row: 2/6;
}

.goBack, .goForward {
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    color: wheat;
    font-size: 1.25rem;
    letter-spacing: 0.75em;
    font-weight: 600;
    text-align: center;

    background-color: rgb(61, 61, 61);
    border: none;
    opacity: 0.65;
    border-radius: 5px;
}
.goBack:hover, .goForward:hover {
    background-color: rgb(87, 87, 87);
}

