* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 0 auto;
    text-align: center;
    overflow-x: hidden;
}

.videoPlayback {
    background-color: pink;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    background-color: pink;
}